@import "./fonts";

.TopBanner_CoffeePLP {
  height: 128px;
  max-width: 996px;
  background-color: #f6f4f2;
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.TopBanner_CoffeePLP__cta {
  width: 25%;
  margin: auto;
  display: inline-block;
  padding-top: 0;
}
.TopBanner_CoffeePLP__cta-link {
  background-color: #8f7247;
  border: 1px solid #8f7247;
  padding: 0.8em;
}

.TopBanner_CoffeePLP__content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1rem;
}

.TopBanner_CoffeePLP__image {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 125px;
  }
}

.TopBanner_CoffeePLP__text {
  color: #8f7247;
  font-family: "NespressoLucas", "Trebuchet MS", "Lucida Grande",
    "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1.5rem;
  width: 65%;
  margin: auto;
  padding: 0;
}

.TopBanner_CoffeePLP__text h2 {
  color: #8f7247;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1.3125rem;
  font-weight: 800;
}

.TopBanner_CoffeePLP__text p {
  color: #000;
  font-family: "NespressoLucas", "Trebuchet MS", "Lucida Grande",
    "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

.TopBanner_CoffeePLP__cta-link {
  color: #fff;
  font-family: "NespressoLucas", "Trebuchet MS", "Lucida Grande",
    "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2em;
  text-align: center;
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  min-width: 200px;
}

@media screen and (max-width: 360px) {
  .TopBanner_CoffeePLP {
    //padding: 10px;
    flex-direction: column;
    align-items: center;
  }

  .TopBanner_CoffeePLP__image {
    width: 100%;
  }
  .TopBanner_CoffeePLP__content {
    width: 90%;
    margin: 0.5rem auto 0;
  }
  .TopBanner_CoffeePLP__cta {
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .TopBanner_CoffeePLP {
    padding: 1rem 0.625rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .TopBanner_CoffeePLP {
    padding: 0.625rem;
  }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
  .TopBanner_CoffeePLP__image {
    width: 30%;
  }
  .TopBanner_CoffeePLP__content {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .TopBanner_CoffeePLP {
    height: 100%;
  }
  .TopBanner_CoffeePLP__content {
    display: block;
    padding-left: 1rem;
  }

  .TopBanner_CoffeePLP__text {
    width: 100%;
  }
  .TopBanner_CoffeePLP__text p {
    padding-bottom: 8px;
  }
  .TopBanner_CoffeePLP__cta {
    width: 100%;
  }
  .TopBanner_CoffeePLP__cta-link {
    width: 100%;
  }
}
